#multi-column {
    --x-large: 150px;
    --large: 100px;
    --medium: 50px;
    --small: 25px;
    --x-small: 15px;

    --carousel-width: 100%;
    --slide-container-width: 100%;
    --slide-count: 4;
    --gap-count: 3;
    --slide-width: calc((100% - (var(--slide-gap) * var(--gap-count))) / var(--slide-count));
    --slide-height: 50vh;
    --slide-gap: var(--medium);
    --button-size: var(--medium);
    --button-gap: var(--x-small);
    --button-gutter: var(--medium);

    @media (max-width: 768px) {
        --slide-count: 2;
        --gap-count: 1;
    }

    .slide {
        border: solid 1px black;
        display: grid;
        place-items: center;
        color: black;
        font-size: 60px;
        font-weight: bold;
        font-family: sans-serif;

        &:nth-of-type(1) {background-color: red;}
        &:nth-of-type(2) {background-color: orange;}
        &:nth-of-type(3) {background-color: yellow;}
        &:nth-of-type(4) {background-color: green;}
        &:nth-of-type(5) {background-color: blue;}
        &:nth-of-type(6) {background-color: purple;}
    }

    .carousel-dots {
        display: flex;
        justify-content: center;
        place-items: center;
        gap: var(--button-gap);

        .dot {
            width: 20px;
            height: 20px;
            border: solid 2px black;
            background-color: white;
            border-radius: 100%;

            &.active {
                background-color: black;
            }
        }
    }

    .carousel-controls {
        width: calc(100% - var(--button-gutter));
        display: flex;
        justify-content: center;
        gap: var(--button-gap);
        align-items: center;
        pointer-events: none;
        z-index: 2;

        button {
            &:disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
    }
}