.slider-container {
    width: auto;
    height: auto;
    display: grid;
    place-items: center;
    
    .slider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        .track {
            position: relative;
            width: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            animation: slideSlider 40s linear infinite;
            animation-play-state: running;
        }

        &.pause-on-hover:hover {
            .track {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes slideSlider {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}