#hero-carousel {
  --carousel-width: 100%;
  --slide-container-width: 100%;
  --slide-width: 100vw;
  --slide-height: 100%;
  --slide-gap: var(--medium);
  --button-size: var(--small);
  --button-gap: var(--x-small);
  --white: #000;
  --primary: skyblue;
}
#hero-carousel .infinite-carousel-container {
  width: 100%;
  height: 50vh;
}
#hero-carousel .infinite-carousel-container .slide {
  min-width: var(--slide-width);
  height: var(--slide-height);
  border: solid 1px black;
  z-index: 1;
  transform: translateX(100%);
  background-color: white;
}
#hero-carousel .infinite-carousel-container .slide.prev, #hero-carousel .infinite-carousel-container .slide.active, #hero-carousel .infinite-carousel-container .slide.next {
  transition: all 1s ease-out;
}
#hero-carousel .infinite-carousel-container .slide.prev {
  z-index: 2;
  transform: translateX(-100%);
  background-color: red;
}
#hero-carousel .infinite-carousel-container .slide.active {
  z-index: 4;
  transform: translateX(0%);
}
#hero-carousel .infinite-carousel-container .slide.next {
  z-index: 3;
  transform: translateX(100%);
}
#hero-carousel .carousel-dots {
  position: relative;
  top: var(--small);
  justify-content: center;
  gap: var(--button-gap);
}
#hero-carousel .carousel-dots .dot {
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--white);
  border: solid 2px var(--white);
  border-radius: 100%;
  transition: background-color 0.3s;
}
#hero-carousel .carousel-dots .dot:hover {
  background-color: var(--secondary);
}
#hero-carousel .carousel-dots .dot.active {
  background-color: var(--primary);
}

#example-carousel {
  --carousel-width: 100%;
  --slide-container-width: 100%;
  --slide-count: 4;
  --gap-count: calc(var(--slide-count) - 1);
  --slide-width: calc((100% - (var(--slide-gap) * var(--gap-count))) / var(--slide-count));
  --slide-height: auto;
  --slide-gap: var(--medium);
  --button-size: 55px;
  --button-gap: 5px;
  --button-gutter: var(--medium);
}

.standard-carousel {
  position: relative;
  width: var(--carousel-width);
  height: auto;
  display: grid;
  place-items: center;
}
.standard-carousel .carousel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: var(--large);
}
.standard-carousel .carousel-buttons .carousel-controls {
  width: calc(100% - var(--button-gutter));
  display: flex;
  gap: var(--button-gap);
  align-items: center;
  pointer-events: none;
  z-index: 2;
}
.standard-carousel .carousel-buttons .carousel-controls button {
  background-color: transparent;
  border: none;
  width: var(--button-size);
  height: var(--button-size);
  cursor: pointer;
  pointer-events: all;
}
.standard-carousel .carousel-buttons .carousel-controls button:disabled {
  cursor: default;
  opacity: 0.5;
}
.standard-carousel .carousel-buttons .carousel-controls button img {
  width: 100%;
  height: auto;
  position: relative;
  left: 0px;
  transition: left 0.3s;
}
.standard-carousel .carousel-buttons .carousel-controls button img.white {
  display: none;
}
.standard-carousel .carousel-buttons .carousel-controls button.prev:hover img {
  left: -10px;
}
.standard-carousel .carousel-buttons .carousel-controls button.next:hover img {
  left: 10px;
}
.standard-carousel .carousel-buttons .carousel-controls .logo-colour,
.standard-carousel .carousel-buttons .carousel-controls .logo-white {
  width: 35px;
  height: auto;
}
.standard-carousel .carousel-buttons .carousel-controls .logo-white {
  display: none;
}
.standard-carousel .carousel-container {
  width: var(--slide-container-width);
  height: auto;
  overflow: hidden;
  display: flex;
  gap: var(--slide-gap);
}
.standard-carousel .carousel-container .slide {
  position: relative;
  min-width: var(--slide-width, auto);
  height: var(--slide-height, auto);
  max-height: 450px;
  translate: 0px 0px;
  opacity: 0;
  pointer-events: none;
  transition: translate 0.5s ease-out, opacity 1s;
}
.standard-carousel .carousel-container .slide.center {
  left: 50%;
  transform: translateX(-50%);
}
.standard-carousel .carousel-container .slide .white {
  display: none;
}
.standard-carousel .carousel-container.active .slide {
  opacity: 1;
  pointer-events: all;
}
.standard-carousel .carousel-container.active .slide:nth-of-type(1) {
  transition-delay: 0s, 0s;
}
.standard-carousel .carousel-container.active .slide:nth-of-type(2) {
  transition-delay: 0s, 0.33s;
}
.standard-carousel .carousel-container.active .slide:nth-of-type(3) {
  transition-delay: 0s, 0.66s;
}
.standard-carousel .carousel-container.active .slide:nth-of-type(4) {
  transition-delay: 0s, 1s;
}

@media (max-width: 485px) {
  .standard-carousel {
    --button-size: 35px;
  }
}
.infinite-carousel {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1;
}
.infinite-carousel .infinite-carousel-container {
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}
.infinite-carousel .infinite-carousel-container .slide {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.infinite-carousel .infinite-carousel-container .slide.active {
  z-index: 2;
}
.infinite-carousel .infinite-carousel-container .slide.prev {
  z-index: 1;
}
.infinite-carousel .carousel-dots {
  display: flex;
  z-index: 2;
}/*# sourceMappingURL=carousel-old.css.map */